/* header {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ff742b;
  height: auto;
  padding: 4px;
  position: relative;
  -ms-flex-pack: justify;
  justify-content: space-between;}

input {
      border-radius: 0;
      border: none;
      height: 42px;
      width: 100%;
      box-shadow: none;
      padding: 16px 144px 16px 54px;
      font-weight: 300;
      background-color: #fff;
      color: rgba(0,0,0,.75);
} */